<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConTroll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ConTroll.Properties.Settings>
            <setting name="OBSWebsocketAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSWebsocketPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SNIAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSGameSource" serializeAs="String">
                <value />
            </setting>
            <setting name="DistortDuration" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DistortTilt" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DistortAdjustX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DistortAdjustY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DistortInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DistortMirrorX" serializeAs="String">
                <value>Indeterminate</value>
            </setting>
            <setting name="DistortMirrorY" serializeAs="String">
                <value>Indeterminate</value>
            </setting>
            <setting name="DistortRotate" serializeAs="String">
                <value>Indeterminate</value>
            </setting>
            <setting name="DistortZoom" serializeAs="String">
                <value>Indeterminate</value>
            </setting>
            <setting name="DistortScaleX" serializeAs="String">
                <value>Indeterminate</value>
            </setting>
            <setting name="DistortScaleY" serializeAs="String">
                <value>Indeterminate</value>
            </setting>
            <setting name="DistortShearX" serializeAs="String">
                <value>Indeterminate</value>
            </setting>
            <setting name="DistortShearY" serializeAs="String">
                <value>Indeterminate</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DistortColor" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="DistortColorDuration" serializeAs="String">
                <value>8000</value>
            </setting>
        </ConTroll.Properties.Settings>
    </userSettings>
</configuration>
